@charset "UTF-8";

/* すべての要素のmarginとpaddingを0に設定します */
* {
    margin: 0;
    /* 要素の外側の余白を0にする */
    padding: 0;
    /* 要素の内側の余白を0にする */
}

body:after {
    content: "";
    background: #FF6666;
    position: fixed;
    display: block;
    z-index: 5;
}

@font-face {
    font-family: title;
    src: url(851MkPOP_002.ttf);
}

@font-face {
    font-family: subTitle;
    src: url(mushin.ttf);
}

@font-face {
    font-family: h3;
    src: url(はなぞめフォント.ttf);
}

h1 {
    font-family: "title";
    font-size: 90px;
    color: #C14072;
    text-align: center;
    padding-top: 30vh;
    transform: rotate(-8deg);
}

.first {
    height: 100vh;
    background-color: #FFE8EC;
}

.second {
    height: 1300px;
    background-color: #FFF;
    margin-top: 50px;
    /*
    margin-left: 100px;
    margin-right: 100px;
*/
    text-align: center;
    position: relative;
    padding-left: 100px;
    padding-right: 100px;
}



h2 {
    font-family: "subTitle";
    text-align: center;
    font-size: 35px;
    color: #935962;
    padding-top: 25vh;
}

.second h3 {
    text-align: center;
    color: hotpink;
    font-family: "h3";
    font-size: 45px;
    margin-bottom: 50px;
}

.second img {
    display: inline-block;
}

.third {
    height: 1300px;
    background-color: #FFF;
    margin-top: 0px;
    /*
    margin-left: 100px;
    margin-right: 100px;
*/
    text-align: center;
    position: relative;
    padding-left: 100px;
    padding-right: 100px;
}

.third img {
    display: inline-block;
}

.third {
    background-color: #F4BAC5;
    height: 800px;
    position: relative;
    z-index: 0;
}

.second::before {

    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;

    border-width: 0 0 120px 100vw;

    border-color: transparent transparent #F4BAC5 transparent;

}

.third::before {

    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;

    border-width: 0 0 100px 100vw;

    border-color: transparent transparent #fff transparent;

}

.third h3 {
    color: #fff;
    text-align: center;
    font-family: "h3";
    font-size: 50px;
    margin-bottom: 50px;
    padding-top: 30px;
}

.forth  h3{
   text-align: center;
    color: #E69DC7;
    font-family: "h3";
    font-size: 45px;
    margin-bottom: 50px;
}

.forth {
    background-color: #fff;
    height: 800px;
    margin-top: 30px;
    text-align: center;
    position: relative;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 20px;
}

.forth img {
    display: inline-block;
}

.forth::before {

    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;

    border-width: 0 0 100px 100vw;

    border-color: transparent transparent #F8D2E8 transparent;

}

.fifth {
     background-color: #F8D2E8;
    height: 1000px;
    margin-top: 0px;
    text-align: center;
    position: relative;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
}


.fifth  h3{
   text-align: center;
    color: hotpink;
    font-family: "h3";
    font-size: 45px;
    margin-bottom: 50px;
}

.fifth img {
    display: inline-block;
}


.fifth::before {

    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;

    border-width: 0 0 100px 100vw;

    border-color: transparent transparent #fff transparent;

}


.fifth img {
    display: inline-block;
}


.sixth  h3{
   text-align: center;
    color: #B9006B;
    font-family: "h3";
    font-size: 45px;
    margin-bottom: 50px;
}


.sixth::before {

    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;

    border-width: 0 0 100px 100vw;

    border-color: transparent transparent #F8D2E8 transparent;

}


.sixth {
  background-color: #fff;
    height: 800px;
    margin-top: 0px;
    text-align: center;
    position: relative;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    
}

.seventh{
     background-color: #F8D2E8;
    height: 1000px;
    margin-top: 0px;
    text-align: center;
    position: relative;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
}


.seventh  h3{
   text-align: center;
    color: hotpink;
    font-family: "h3";
    font-size: 45px;
    margin-bottom: 50px;
}

.seventh img {
    display: inline-block;
}


.seventh::before {

    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;

    border-width: 0 0 100px 100vw;

    border-color: transparent transparent #fff transparent;

}
.eight h3{
   text-align: center;
    color: #B9006B;
    font-family: "h3";
    font-size: 45px;
    margin-bottom: 50px;
}
/*


.eight::before {

    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;

    border-width: 0 0 100px 100vw;

    border-color: transparent transparent #F8D2E8 transparent;

}
*/


.eight {
  background-color: #fff;
    height: 800px;
    margin-top: 0px;
    text-align: center;
    position: relative;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    
}
